li
{
    display:inline;
}

table 
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 35%;
}

td, th 
{
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}

tr:nth-child(even) 
{
    background-color: #ffffff;
}
tr:nth-child(odd) 
{
    background-color: #c1bed8;
}